body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.avatar{
    width: 150px;
}

.card{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto; 
    text-align: center;
    background-color: #f6cbb5;
    border-bottom: 10px solid #fb9773;
    color: #2b2839;
    box-shadow: 10px 10px 5px #dbd9d9;
    animation-name: example;
    animation-duration: 4s;
}

.border-blue{
    border: 1px dotted blue;

}

.card:hover {
    background-color: #fcbb54;
    border-bottom: 10px solid #8c511b;
  }